.main {
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.profileTitle {
    font-size: 50px;
}

.profile {
    object-fit: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.fontContainer {
    display: flex;
    margin-top: 20px;
}

.desc {
    width: 35%;
    min-width: 500px;
    font-size: 20px;
    text-align: center;
}

svg {
    color: white;
    padding-right: 15px;
}

svg:hover {
    color: #4fc18d;
}